*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white
}

h1{
    color:white;
    font-family: 'Geologica', sans-serif;
    font-size: 50px;
    float: left;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:aliceblue
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    border-radius: 25px;
    background: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.75; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 25px;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 25px;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }